.center-col {
  width: 60%;
  background: $colorPrimaryLight;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__map {
    display: block;
    width: 90%;
    height: 90vh;
  }

}
