.preload {
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #000000;
  height: 100vh;
  z-index: 3;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  width: 25%;
  min-width: 30rem;
  padding: 2rem;
  background: #00509d;
}

.left-col .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7rem;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
          box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
}

.left-col .search__box {
  width: 100%;
  height: 4rem;
  font-size: 1.8rem;
  color: #615d6c;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  cursor: pointer;
}

.left-col .search__submit {
  padding: 0.6em;
  margin-left: 0.8rem;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.left-col .search__submit:hover {
  background: #bde0fe;
}

.left-col .search__icon {
  font-size: 2.5rem;
  color: #00509d;
}

.left-col .select-menu {
  position: relative;
}

.left-col .select-menu__select {
  padding: 8px 36px 8px 10px;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
}

.left-col .select-menu__button {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 0;
  width: 100%;
  text-align: left;
  color: #615d6c;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
          box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.left-col .select-menu__button__text-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-col .select-menu__button__text {
  right: 100%;
  top: 0;
  display: block;
  padding: 8px 32px 8px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #615d6c;
  text-transform: capitalize;
}

.left-col .select-menu__button__text.next {
  position: absolute;
  width: 100%;
}

.left-col .select-menu__button__arrow {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #615d6c;
}

.left-col .select-menu.change button {
  -webkit-animation: bounce 0.45s linear;
          animation: bounce 0.45s linear;
}

.left-col .select-menu.change button div {
  -webkit-animation: button 0.6s linear forwards 0.05s;
          animation: button 0.6s linear forwards 0.05s;
}

.left-col .select-menu.change button i {
  -webkit-animation: arrow 0.45s linear;
          animation: arrow 0.45s linear;
}

.left-col .countries-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 0.3rem;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.5rem;
  background: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
          box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
  overflow-y: scroll;
}

.left-col .countries-list__item {
  padding: 0.3rem;
  background: #ffffff;
  cursor: pointer;
}

.left-col .countries-list__item__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3rem;
          column-gap: 0.3rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
  color: #615d6c;
}

.left-col .countries-list__item__data {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #615d6c;
  text-align: right;
}

.left-col .countries-list__item__data.red {
  color: #e74c3c;
}

.left-col .countries-list__item__data.green {
  color: #2ecc71;
}

.left-col .countries-list__item__data.blue {
  color: #3498db;
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-box-shadow: 0 8px 12px 0 4px 12px rgba(18, 22, 33, 0.2);
            box-shadow: 0 8px 12px 0 4px 12px rgba(18, 22, 33, 0.2);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-box-shadow: 0 8px 12px 0 4px 12px rgba(18, 22, 33, 0.2);
            box-shadow: 0 8px 12px 0 4px 12px rgba(18, 22, 33, 0.2);
  }
}

@-webkit-keyframes button {
  40% {
    -webkit-transform: translateX(104%);
            transform: translateX(104%);
  }
  75% {
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes button {
  40% {
    -webkit-transform: translateX(104%);
            transform: translateX(104%);
  }
  75% {
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes arrow {
  20% {
    -webkit-transform: translateX(210px);
            transform: translateX(210px);
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
    opacity: 1;
  }
  21% {
    -webkit-transform: translateX(210px);
            transform: translateX(210px);
    opacity: 0;
  }
  22% {
    -webkit-transform: translateX(calc($selectWidth * -1));
            transform: translateX(calc($selectWidth * -1));
    opacity: 0;
  }
  23% {
    -webkit-transform: translateX(calc($selectWidth * -1));
            transform: translateX(calc($selectWidth * -1));
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes arrow {
  20% {
    -webkit-transform: translateX(210px);
            transform: translateX(210px);
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
    opacity: 1;
  }
  21% {
    -webkit-transform: translateX(210px);
            transform: translateX(210px);
    opacity: 0;
  }
  22% {
    -webkit-transform: translateX(calc($selectWidth * -1));
            transform: translateX(calc($selectWidth * -1));
    opacity: 0;
  }
  23% {
    -webkit-transform: translateX(calc($selectWidth * -1));
            transform: translateX(calc($selectWidth * -1));
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.center-col {
  width: 50%;
  background: #bde0fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.center-col__map {
  display: block;
  width: 90%;
  height: 90vh;
}

.right-col {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background: #ffffff;
}

.right-col .title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #615d6c;
  text-transform: uppercase;
}

.right-col .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.right-col .controls .control {
  position: relative;
  display: inline-block;
  padding: 2px;
  border-radius: 24px;
  border: 2px solid #00509d;
}

.right-col .controls .control input {
  position: absolute;
  opacity: 0;
}

.right-col .controls .control label {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 90px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
  color: #615d6c;
  color: #00509d;
  line-height: 40px;
  cursor: pointer;
}

.right-col .controls .control .switch {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 90px;
  background: #bde0fe;
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.right-col .controls input[type='radio']:checked + label + .switch,
.right-col .controls input[type='radio']:checked + label:nth-of-type(n) + .switch {
  -webkit-transform: translateX(92px);
          transform: translateX(92px);
}

.right-col .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 200px;
  max-width: 400px;
}

.right-col .cards .card {
  padding: 1.5rem;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
          box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.right-col .cards .card__value {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #615d6c;
  color: #ffffff;
}

.right-col .cards .card__title {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
  color: #615d6c;
  color: #ffffff;
  text-transform: capitalize;
}

.right-col .cards .card:first-child {
  background-color: #3498db;
}

.right-col .cards .card:nth-child(2) {
  background-color: #e74c3c;
}

.right-col .cards .card:last-child {
  background-color: #2ecc71;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  padding: 20px 10px;
  background: #457b9d;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-transition: bottom 0.7s ease-in-out;
  transition: bottom 0.7s ease-in-out;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard__key {
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.2rem;
  margin: 0 0.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #808080;
  background-color: #f1faee;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.keyboard__key.recording {
  color: #ffffff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease-in-out infinite;
          animation: gradient 10s ease-in-out infinite;
}

.keyboard__key:not(.recording):hover,
.keyboard__key:not(.recording).active {
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
  -webkit-transform: translateY(2px);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  background: #a8dadc;
}

[data-fn='true'] > .letter {
  font-size: 1.6rem;
}

[data-code='Backspace'] {
  width: 130px;
}

[data-code='Tab'],
[data-code='Delete'],
[data-code='ArrowUp'],
[data-code='ArrowRight'],
[data-code='ArrowDown'],
[data-code='ArrowLeft'] {
  width: 60px;
}

[data-code='CapsLock'] {
  width: 110px;
}

[data-code='Enter'] {
  width: 130px;
}

[data-code='ShiftLeft'] {
  width: 90px;
}

[data-code='ShiftRight'] {
  width: 140px;
}

[data-code='Space'] {
  width: 480px;
}

[data-code='Done'] {
  width: 130px;
}

[data-code='Record'] {
  width: 70px;
}

.letter {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.sub {
  width: 100%;
  padding-left: 10px;
  text-align: left;
  font-size: 1.6rem;
  color: #a5a5a5;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.sub.sub-active:not(:empty) {
  font-size: 1.8rem;
  color: #808080;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  width: 50%;
  padding-right: 10px;
  text-align: center;
  font-size: 1.4rem;
  color: #a5a5a5;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.use-keyboard-input {
  height: 15rem;
  width: 60%;
  max-width: 940px;
  margin-top: 5rem;
  padding: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.06em;
  resize: none;
  outline: none;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 939px) {
  .use-keyboard-input {
    width: 80%;
  }
  .keyboard__key {
    width: 4rem;
    height: 4rem;
    margin: 0 0.4rem;
    font-size: 1.8rem;
    border-radius: 8px;
  }
  [data-fn='true'] > .letter {
    font-size: 1.6rem;
  }
  [data-code='Backspace'] {
    width: 120px;
  }
  [data-code='Tab'],
  [data-code='ArrowUp'],
  [data-code='ArrowRight'],
  [data-code='ArrowDown'],
  [data-code='ArrowLeft'] {
    width: 50px;
  }
  [data-code='Delete'] {
    width: 60px;
  }
  [data-code='CapsLock'] {
    width: 100px;
  }
  [data-code='Enter'] {
    width: 110px;
  }
  [data-code='ShiftLeft'] {
    width: 80px;
  }
  [data-code='ShiftRight'] {
    width: 120px;
  }
  [data-code='Space'] {
    width: 360px;
  }
  [data-code='Done'] {
    width: 132px;
  }
  [data-code='Record'] {
    width: 62px;
  }
  .material-icons {
    font-size: 2.2rem;
  }
  .sub {
    padding-left: 2px;
    font-size: 1.4rem;
  }
  .sub.sub-active:not(:empty) {
    font-size: 1.4rem;
  }
  .sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    padding-right: 0;
    font-size: 1.4rem;
    line-height: 1.2rem;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
}

@media (max-width: 768px) {
  .use-keyboard-input {
    width: 90%;
  }
  .keyboard {
    grid-row-gap: 5px;
    padding: 10px 5px;
  }
  .keyboard__key {
    width: 2.6rem;
    height: 3rem;
    margin: 0 0.25rem;
    padding: 0;
    font-size: 1.6rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  }
  [data-fn='true'] > .letter {
    font-size: 1.4rem;
  }
  [data-code='Backspace'] {
    width: 80px;
  }
  [data-code='Tab'],
  [data-code='ArrowUp'],
  [data-code='ArrowRight'],
  [data-code='ArrowDown'],
  [data-code='ArrowLeft'] {
    width: 30px;
  }
  [data-code='Delete'] {
    width: 47px;
  }
  [data-code='CapsLock'] {
    width: 75px;
  }
  [data-code='Enter'] {
    width: 63px;
  }
  [data-code='ShiftLeft'] {
    width: 55px;
  }
  [data-code='ShiftRight'] {
    width: 79px;
  }
  [data-code='Space'] {
    width: 232px;
  }
  [data-code='Done'] {
    width: 93px;
  }
  [data-code='Record'] {
    width: 44px;
  }
  .sub {
    line-height: 1.2rem;
  }
  .material-icons {
    font-size: 2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */